<h1 style="font-family: 'Poppins', sans-serif; font-size: 1rem;"><%= @user.email %> dashboard</h1>


<h3>Owned slands for rent:</h3>
<% @islands.each do |island| %>
  <% if current_user == island.user %>
    <p><%= link_to island.name, island_path(island) %></p>
  <%end %>
<% end %>


<h3>recieved bookings:</h3>
<% @received_bookings.each do |received_booking| %>
  <p>start date: <%= received_booking.start_date %></p>
  <p>end date: <%= received_booking.end_date %></p>
  <p>comment: <%= received_booking.comment %></p>
  <p>total price: <%= received_booking.cal_total_price %> $</p>
  <% if received_booking.status == 'pending' %>
    <%= button_to 'accept', booking_path(received_booking, {status: 'accepted'}), method: :patch %>
    <%= button_to 'decline', booking_path(received_booking, {status: 'declined'}), method: :patch %>
  <% elsif received_booking.status == 'accepted' %>
    <p>accepted</p>
  <% else %>
    <p>declined</p>
  <% end %>
</div>



<h4 style="font-family: 'Poppins', sans-serif; font-size: 1rem;">applied bookings</h4>
<div class="cards">
<% @applied_bookings.each do |applied_booking| %>

<% end %>
</div>

<%= link_to 'Back to all the islands', islands_path, class: "btn btn-primary" %>
<%# display all recived/applied bookings %>
<%# for the recieved bookings - add accpt/regect btn %>
<%# applied bookings - see the status %>


<%# 1. define applied booking/recived bookings (user model) %>
<%# 2. add pending by default throught the bookings controller %>
<%# 3. add accpt/deny btn next to pending booking request %>
